{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Done!{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2>Thank you for taking our survey!</h2>
    <p>Thank you for taking our survey on fake news. Your participation is greatly appreciated.</p>

    {% set count = namespace(value=1) %}
    <h3>Your results:</h3>
    {% for result in results %}
        <div class="result">
            <h4>Statement: {{ count.value }} of {{results|length}}</h4>
            <p>Statement: {{ result['statement'] }}</p>
            <p>Subject(s): {{ result['subject'] }}</p>
            <p>Speaker: {{ result['speaker'] }}</p>
            <p>Context: {{ result['context'] }}</p>
            <p>Your Opinion: {{ result['vote'] }}</p>
            <p>Politifact's Opinion: {{ result['label'] }}</p>
        </div>
        {% set count.value = count.value + 1 %}
    {% endfor %}
    
{% endblock %}