{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Fake News Survey Start{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h3>Fake News and Statement Survey</h3>
    <p>We are conducting a survey on fake news and want your input. It should take
        at most five minutes of your time. If you take this survey, you will
        be given a random list of {{max_responses}} statements to view. For each statement, you will be prompted
        to enter if it is real or fake. You will be given the statement itself, its source, 
        subjects the statement refers to, the party affiliation of said source, the state or country the statement came from, and 
        a brief description of the context the statement was made in. Some information like party affiliation or the state/country may be blank. 
    </p>
    <p>
        The Your survey will end when all {{max_responses}} responses have been recorded. 
        Your progress will be saved until you are done. Once you have finished, you will not be able to take it again.
    </p>
    <p>
        The survey will close after 
        {{max_responders}} people have completed this survey.
        There are {{responder_count}} people who have completed this survey.
    </p>
    <p>Note: No personal information is collected during this survey. The only demographic information
        required is your political leaning, which you do not have to disclose if you do not want to.
        If you do not wish to disclose your political leanings, select the "Prefer Not to Say" option 
        from the drop down menu.
    </p>
    
    <form method="post">
        <label for="political_leaning">Political Leaning</label>
        <select name="political_leaning" id="political_leaning" required>
            <option value="not_stated">Prefer Not to Say</option>
            <option value="left_wing">Left-Wing</option>
            <option value="right_wing">Right-Wing</option>
            <option value="centrist">Centrist</option>
            <option value="other">Other</option>
        </select>
        <br/>
        <input type="submit" value="Submit">
    </form>
{% endblock %}